In [1]:
import osmnx as ox

ox.__version__

'1.1.1'

In [2]:
%%time
gml_unprojected = ox.load_graphml('data/g_unprojected.graphml')
gml_projected = ox.load_graphml('data/g_projected.graphml')

CPU times: user 25.7 s, sys: 1.86 s, total: 27.6 s
Wall time: 27.5 s

In [3]:
%%time
gml_unprojected_stats_dict = ox.stats.basic_stats(gml_unprojected, area=None, clean_int_tol=None, clean_intersects=None, tolerance=None, circuity_dist=None)

gml_unprojected_stats_dict

CPU times: user 33.9 s, sys: 135 ms, total: 34 s
Wall time: 34 s

{'n': 40506,
 'm': 91267,
 'k_avg': 4.506344739051005,
 'edge_length_total': 7884656.878000098,
 'edge_length_avg': 86.39110388201757,
 'streets_per_node_avg': 2.304769663753518,
 'streets_per_node_counts': {0: 0,
  1: 14738,
  2: 13,
  3: 24436,
  4: 1312,
  5: 5,
  6: 2},
 'streets_per_node_proportions': {0: 0.0,
  1: 0.3638473312595665,
  2: 0.0003209401076383746,
  3: 0.6032686515577939,
  4: 0.032390263170888264,
  5: 0.00012343850293783636,
  6: 4.937540117513455e-05},
 'intersection_count': 25768,
 'street_length_total': 4021702.818000004,
 'street_segment_count': 46574,
 'street_length_avg': 86.35081414523134,
 'circuity_avg': 1.069126952873804,
 'self_loop_proportion': 0.0016103405333447846}

In [4]:
%%time
gml_projected_stats_dict = ox.stats.basic_stats(gml_projected, area=None, clean_int_tol=None, clean_intersects=None, tolerance=None, circuity_dist=None)

gml_projected_stats_dict

CPU times: user 35.9 s, sys: 39.6 ms, total: 35.9 s
Wall time: 35.9 s

{'n': 40506,
 'm': 91267,
 'k_avg': 4.506344739051005,
 'edge_length_total': 7884656.878000081,
 'edge_length_avg': 86.39110388201739,
 'streets_per_node_avg': 2.304769663753518,
 'streets_per_node_counts': {0: 0,
  1: 14738,
  2: 13,
  3: 24436,
  4: 1312,
  5: 5,
  6: 2},
 'streets_per_node_proportions': {0: 0.0,
  1: 0.3638473312595665,
  2: 0.0003209401076383746,
  3: 0.6032686515577939,
  4: 0.032390263170888264,
  5: 0.00012343850293783636,
  6: 4.937540117513455e-05},
 'intersection_count': 25768,
 'street_length_total': 4021702.81800002,
 'street_segment_count': 46574,
 'street_length_avg': 86.35081414523168,
 'circuity_avg': 1.0718553071696748,
 'self_loop_proportion': 0.0016103405333447846}

### References:

1. Load GraphML file: https://osmnx.readthedocs.io/en/stable/osmnx.html?highlight=load_graphml#osmnx.io.load_graphml
2. Basic Stats: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.stats.basic_stats

## Projections - Why are they important?

## Distance calculations

### Load filtered pair dataframe

In [5]:
import pandas as pd

filtered_pair_df = pd.read_pickle('data/filtered_pair_df.pickle')

filtered_pair_df

         lat_p      lon_p     lat_f      lon_f
0     0.398191  32.576832  0.331246  32.576171
1     0.398191  32.576832  0.339155  32.576119
2     0.398191  32.576832  0.333766  32.567515
3     0.398191  32.576832  0.227261  32.551494
4     0.398191  32.576832  0.247106  32.561545
...        ...        ...       ...        ...
1531  0.353028  32.566702  0.324920  32.575134
1532  0.353028  32.566702  0.300740  32.589017
1533  0.353028  32.566702  0.288350  32.559739
1534  0.353028  32.566702  0.337891  32.625401
1535  0.353028  32.566702  0.331333  32.602524

[1536 rows x 4 columns]

### Set up analysis columns

In [6]:
filtered_pair_df['g_lon_p'] = 0.00
filtered_pair_df['g_lat_p'] = 0.00
filtered_pair_df['d1'] = 0.00
filtered_pair_df['g_node_id_p'] = 0
filtered_pair_df['g_node_id_p'].astype(int)

filtered_pair_df['g_lon_f'] = 0.00
filtered_pair_df['g_lat_f'] = 0.00
filtered_pair_df['d2'] = 0.00
filtered_pair_df['g_node_id_f'] = 0
filtered_pair_df['g_node_id_f'].astype(int)

filtered_pair_df['d3'] = 0.00

filtered_pair_df

,lat_p,lon_p,lat_f,lon_f,g_lon_p,g_lat_p,d1,g_node_id_p,g_lon_f,g_lat_f,d2,g_node_id_f,d3
0,0.398191,32.576832,0.331246,32.576171,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1,0.398191,32.576832,0.339155,32.576119,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
2,0.398191,32.576832,0.333766,32.567515,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
3,0.398191,32.576832,0.227261,32.551494,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
4,0.398191,32.576832,0.247106,32.561545,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,0.353028,32.566702,0.324920,32.575134,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1532,0.353028,32.566702,0.300740,32.589017,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1533,0.353028,32.566702,0.288350,32.559739,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1534,0.353028,32.566702,0.337891,32.625401,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1535,0.353028,32.566702,0.331333,32.602524,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0

### Compute for d1, d2 and d3

In [10]:
%%time
import networkx as nx

for index, row in filtered_pair_df.head(2).iterrows():
    pnode, d1 = \
       ox.distance.nearest_nodes(gml_projected, row['lat_p'], row['lon_p'], return_dist=True)
    filtered_pair_df.at[index, 'g_lon_p'] = gml_projected.nodes[pnode]['x']
    filtered_pair_df.at[index, 'g_lat_p'] = gml_projected.nodes[pnode]['y']
    filtered_pair_df.at[index, 'd1'] = d1 # distance is provided in meters
    filtered_pair_df.at[index, 'g_node_id_p'] = pnode

    fnode, d2 = \
       ox.distance.nearest_nodes(gml_projected, row['lat_f'], row['lon_f'], return_dist=True)
    filtered_pair_df.at[index, 'g_lon_f'] = gml_projected.nodes[pnode]['x']
    filtered_pair_df.at[index, 'g_lat_f'] = gml_projected.nodes[pnode]['y']
    filtered_pair_df.at[index, 'd2'] = d2 # distance is provided in meters
    filtered_pair_df.at[index, 'g_node_id_f'] = fnode

    d3 = nx.shortest_path_length(gml_projected, source=pnode, target=fnode, weight=None, method='dijkstra') 
    filtered_pair_df.at[index, 'd3'] = d3

filtered_pair_df

CPU times: user 2.46 s, sys: 19.8 ms, total: 2.48 s
Wall time: 2.46 s

,lat_p,lon_p,lat_f,lon_f,g_lon_p,g_lat_p,d1,g_node_id_p,g_lon_f,g_lat_f,d2,g_node_id_f,d3
0,0.398191,32.576832,0.331246,32.576171,445465.607019,24672.940466,446146.164161,7055823782,445465.607019,24672.940466,446146.231041,7055823782,0.0
1,0.398191,32.576832,0.339155,32.576119,445465.607019,24672.940466,446146.164161,7055823782,445465.607019,24672.940466,446146.223147,7055823782,0.0
2,0.398191,32.576832,0.333766,32.567515,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
3,0.398191,32.576832,0.227261,32.551494,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
4,0.398191,32.576832,0.247106,32.561545,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,0.353028,32.566702,0.324920,32.575134,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
1532,0.353028,32.566702,0.300740,32.589017,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
1533,0.353028,32.566702,0.288350,32.559739,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
1534,0.353028,32.566702,0.337891,32.625401,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0
1535,0.353028,32.566702,0.331333,32.602524,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.0